altgraph==0.17.5
packaging==26.2
pefile==2024.8.26
pygame==2.6.1
pygame-menu==4.5.2
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
pyperclip==1.11.0
pywin32-ctypes==0.2.3
typing_extensions==4.16.0
